@model ItemPedido

<form method="POST">

<p>
    <label asp-for="descricao">Descrição</label>
    <input asp-for="descricao">
</p>
<p>
    <label asp-for="descricao">Descrição</label>
    <input asp-for="descricao">
</p>
<p>
    <label asp-for="descricao">Descrição</label>
    <input asp-for="descricao">
</p>

<input type="submit" value="Cadastrar Pedido">





</form>